<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Primitivo</servlet-name>
        <servlet-class>Primitivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Generico</servlet-name>
        <servlet-class>Generico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHTTP</servlet-name>
        <servlet-class>ServletHTTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CabecalhoRequest</servlet-name>
        <servlet-class>CabecalhoRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValoresRequest</servlet-name>
        <servlet-class>ValoresRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespostaConsole</servlet-name>
        <servlet-class>RespostaConsole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespostaHTML</servlet-name>
        <servlet-class>RespostaHTML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LendoParametrosGet</servlet-name>
        <servlet-class>LendoParametrosGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LendoParametrosPost</servlet-name>
        <servlet-class>LendoParametrosPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametrosHTTPGet</servlet-name>
        <servlet-class>ParametrosHTTPGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProcessarGetPost</servlet-name>
        <servlet-class>ServletProcessarGetPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetPost</servlet-name>
        <servlet-class>ServletGetPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequisicoesGetPost</servlet-name>
        <servlet-class>RequisicoesGetPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Primitivo</servlet-name>
        <url-pattern>/servlet/Primitivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Generico</servlet-name>
        <url-pattern>/servlet/Generico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHTTP</servlet-name>
        <url-pattern>/servlet/ServletHTTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CabecalhoRequest</servlet-name>
        <url-pattern>/servlet/CabecalhoRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValoresRequest</servlet-name>
        <url-pattern>/servlet/ValoresRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespostaConsole</servlet-name>
        <url-pattern>/servlet/RespostaConsole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespostaHTML</servlet-name>
        <url-pattern>/servlet/RespostaHTML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LendoParametrosGet</servlet-name>
        <url-pattern>/servlet/LendoParametrosGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LendoParametrosPost</servlet-name>
        <url-pattern>/servlet/LendoParametrosPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametrosHTTPGet</servlet-name>
        <url-pattern>/servlet/ParametrosHTTPGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProcessarGetPost</servlet-name>
        <url-pattern>/servlet/ServletProcessarGetPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetPost</servlet-name>
        <url-pattern>/servlet/ServletGetPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequisicoesGetPost</servlet-name>
        <url-pattern>/servletRequisicoesGetPost</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
